* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #40CF5E;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

section {
  min-height: 100hv;
  padding: 10rem 9% 2rem;
}

body.sale-open {
  overflow: hidden;
}

main.sale-open {
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar-basket {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}

.sale-count {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-left: 4rem;
}

.sale .bx-x {
  font-size: 4rem;
}

.navbar-basket i {
  transition: .3s;
}

.navbar a:hover,
.navbar a:active,
.navbar-basket i:hover {
  color: var(--main-color);
}

.navbar-basket i {
  font-size: 3rem;
  margin-left: 4rem;
  color: var(--text-color);
}

.basket {
  background: transparent;
}

.sale {
  display: none;
  margin-top: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 600px;
  height: 300px;
  background: var(--second-bg-color);
  box-shadow: 0 0 1rem wheat;
  border-radius: 2rem;
  z-index: 200;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sale::-webkit-scrollbar {
  width: 10px;
}

.sale::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

.sale::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f2f2f2;
}

.sale a {
  position: absolute;
  font-size: 3rem;
  color: var(--main-color);
  right: 5px;
  z-index: 400;
  transition: transform 1s ease-in-out;
}

.sale a:hover {
  transform: rotate(360deg);
}

.cartItem {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.emptyCart {
  font-size: 5rem;
  text-align: center;
  margin: 20% 0;
}

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 5px;
}

.row-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowimg {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}

.product-count {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}

.sale-sum {
  background: var(--bg-color);
  border: 10px solid transparent;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0;
  box-shadow: 0 0 1rem white;
  font-size: 4rem;
  text-align: left;
}

.sale-sum p {
  margin-left: 5px;
  position: relative;
  bottom: 5px;
}

.bx {
  font-size: 2rem;
}

.bx:hover {
  cursor: pointer;
  color: var(--main-color);
}

.home h2 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4rem;
}

.brand-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.brand-container .brand-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem white;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}

.brand-box img {
  width: 100%;
  height: 25rem;
  transition: .5s ease;
}

.brand-box:hover img {
  transform: scale(1.1);
}

.brand-container .brand-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.brand-box:hover .brand-layer {
  transform: translateY(0%);
}

.brand-layer h4 {
  font-size: 3rem;
}

.Products {
  background: var(--second-bg-color);
}

.brand-type {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4rem;
}

.Products,
.Products .products-container {
  display: none;
}

.Products h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.product-container .product-box {
  border-radius: 2rem;
  box-shadow: 0 0 1rem white;
}

.product-box img {
  width: 100%;
  height: 25rem;
}

.product-box .product-layer {
  font-size: 1.5rem;
  position: relative;
  left: 2rem;
  margin-bottom: 2rem;
}

.product-box .buy-button {
  cursor: pointer;
  position: relative;
  left: 25%;
  margin-bottom: 2rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.product-box .buy-button:hover {
  box-shadow: none;
}

.buy-button:active {
  animation-name: button-press;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  background: #106021;
}

@keyframes button-press {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(3px);
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .logo {
    font-size: 3rem;
  }

  .navbar a {
    font-size: 2rem;
  }

  .navbar-basket i {
    font-size: 4rem;
  }
}

@media (max-width: 980px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 768px) {

  .brand-container,
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 660px) {

  .brand-container,
  .product-container,
  .cartItem {
    margin-top: 15px;
    grid-template-columns: 1fr;
  }

  .row-img {
    width: 57px;
    height: 57px;
    border-radius: 50px;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rowimg {
    max-width: 50px;
    max-height: 50px;
  }

  .cart-item p {
    font-size: 20px;
  }

  .cart-item .product-count {
    font-size: 17px;
  }

  .cart-item h2 {
    font-size: 25px;
  }

  .bx {
    font-size: 4rem;
  }

  .product-box h2 {
    font-size: 4rem;
  }

  .product-box .product-layer {
    font-size: 3rem;
  }

  .product-box .buy-button {
    left: 40%;
  }
}

@media (max-width: 365px) {
  .product-box .buy-button {
    left: 35%;
  }

  .sale {
    height: 200px;
  }

  .bx {
    font-size: 2rem;
  }

  .emptyCart {
    font-size: 3rem;
  }
}
